<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Todo list
        link(rel="stylesheet", href="css/app.css")
    body
        h2.title Add New Task
        form( data-js='newTaskForm')
            input(type="text", name="newTask" )
            input(type="submit", value="Add Task")
        h2.title Task to-do
        ul(data-js='display-task') 
            each task,index in tasks 
                if !task.done
                    li(id=task.timeStamp)= task.name
                        input.status( type="checkbox" name="done" checked=task.done)
        h3.title Complete tasks
        ul(data-js='done-task')
            each task,index in tasks 
                if task.done
                    li #{task.name}
                        input.status(type="checkbox", name="done" checked=task.done)
        script(src="js/Es6.js")